In [36]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [37]:
font = {
  'family':'serif',
  'color': 'Green',
  'weight':'normal',
  'size':40
}
font_title = {
  'family':'serif',
  'color':  'black',
  'weight':'normal',
  'size':30
}

fontLabel = {
  'family':'serif',
  'color': 'black',
  'weight':'normal',
  'size':20
}

In [38]:
route_books = "Datasets/Books/Books.csv"
route_ratings = "Datasets/Books/Ratings.csv"
route_users = "Datasets/Books/Users.csv"

In [39]:
df_books = pd.read_csv(route_books)
df_rating = pd.read_csv(route_ratings)
df_users = pd.read_csv(route_users)

C:\Users\crist\Desktop\deploy_heroku\project_university\environment\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [40]:
df_books.head(10)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
6,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...,http://images.amazon.com/images/P/0425176428.0...
7,0671870432,PLEADING GUILTY,Scott Turow,1993,Audioworks,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...,http://images.amazon.com/images/P/0671870432.0...
8,0679425608,Under the Black Flag: The Romance and the Real...,David Cordingly,1996,Random House,http://images.amazon.com/images/P/0679425608.0...,http://images.amazon.com/images/P/0679425608.0...,http://images.amazon.com/images/P/0679425608.0...
9,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...

In [41]:

df_rating.head(10)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6
5   276733  2080674722            0
6   276736  3257224281            8
7   276737  0600570967            6
8   276744  038550120X            7
9   276745   342310538           10

In [42]:
df_users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [43]:
total_data = df_rating

In [44]:
total_data.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [45]:
total_data.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [46]:
#total_data.loc[total_data["Movie_ID"]==1]

In [47]:
df_books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [48]:
df_rating.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

<h4>Training</h4>

We only need to train algorithm User ID, Movie ID and rating.

In [49]:
unique_users = np.unique(df_rating["User-ID"])
len(unique_users)

105283

In [50]:
unique_books = np.unique(df_rating["ISBN"])
len(unique_books)

340556

In [51]:
def sparse_matrix(dataframe):
    nUsr_unq = dataframe["User-ID"].nunique()
    nMov_unq = dataframe["ISBN"].nunique()
    usr_map = dict(zip(np.unique(dataframe["User-ID"]),list(range(nUsr_unq))))
    mov_map = dict(zip(np.unique(dataframe["ISBN"]),list(range(nMov_unq))))
    
    usr_inver_map = dict(zip(list(range(nUsr_unq)),np.unique(dataframe["User-ID"])))
    mov_inver_map = dict(zip(list(range(nMov_unq)),np.unique(dataframe["ISBN"])))
    
    usr_indx = [usr_map[i] for i in dataframe["User-ID"]]
    mov_indx = [mov_map[i] for i in dataframe["ISBN"]]
    sparse_mx = csr_matrix((dataframe["Book-Rating"],(mov_indx,usr_indx)),shape=(nMov_unq,nUsr_unq))
    
    return sparse_mx,usr_map,mov_map,usr_inver_map,mov_inver_map

In [52]:
sparse_mx,usr_map,mov_map,usr_inver_map,mov_inver_map = sparse_matrix(df_rating)

In [53]:
sparse_mx.shape

(340556, 105283)

In [54]:
def knn_recomendation(bookID,sparse_mx,mov_map,k,metric="cosine",show_distance=False):
    #k=Numero de recomendaciones
    neighboursID = []
    mov_ind = mov_map[bookID]
    print(f"tipo de dato mov_ind {type(mov_ind)}")
    print(f"dato mov_ind {mov_ind}")
    mov_vector = sparse_mx[mov_ind]
    k+=1
    knn = NearestNeighbors(n_neighbors=k,algorithm="brute",metric=metric)
    knn.fit(sparse_mx)
    if isinstance(mov_vector,(np.ndarray)):
        mov_vector = mov_vector.reshape(1,-1)
    neighbour = knn.kneighbors(mov_vector,return_distance=show_distance)
    for i in range(0,k):
        n=neighbour.item(i)
        neighboursID.append(mov_inver_map[n])
    neighboursID.pop(0)
    return neighboursID

In [84]:
books_titles = dict(zip(df_books["ISBN"],df_books["Book-Title"]))
books_id = "0195153448"
autor = df_books.loc[df_books["ISBN"]==books_id]
print(f'Libro Elegido = {books_titles[books_id]} - autor: {autor["Book-Author"][0]}')

Libro Elegido = Classical Mythology - autor: Mark P. O. Morford

In [85]:
books_recomendation_final = knn_recomendation(books_id,sparse_mx,mov_map,k=5)
booksTitle = books_titles[books_id]
print(f" Libro visto originalmente :::::::::>>>>>> {booksTitle}")
print("***************************************************************************")
print("Libros Recomendadas")
print("***************************************************************************")
for i in books_recomendation_final:
    autor = df_books.loc[df_books["ISBN"]==books_id]
    string_to_print = "Libro=" + str(books_titles.get(i)) + "\t --- Autor= " + str(autor["Book-Author"][0])
    print(string_to_print)

<class 'str'>
tipo de dato mov_ind <class 'int'>
dato mov_ind 32069
 Libro visto originalmente :::::::::>>>>>> Classical Mythology
***************************************************************************
Libros Recomendadas
***************************************************************************
Libro=Oregon Geographic Names	 --- Autor= Mark P. O. Morford
Libro=One City's Wilderness: Portland's Forest Park	 --- Autor= Mark P. O. Morford
Libro=Wildflowers of the Columbia Gorge: A Comprehensive Field Guide (Jack Murdock)	 --- Autor= Mark P. O. Morford
Libro=Mr. Wizard's 400 Experiments in Science	 --- Autor= Mark P. O. Morford
Libro=Fire at Eden's Gate: Tom McCall &amp; the Oregon Story	 --- Autor= Mark P. O. Morford